<%-include('../initials/header') %>
<div class="home">
<a href="/CreateRoom">Create Room</a>
<a href="/booking">Book a Room </a>
<a href="/bookedRooms">Booked Rooms </a>
<a href="/customers">Customers</a>
</div>
<%-include('../initials/footer') %>
